/*stuff for the slideshow*/

/*specifies the position of the pictures*/
.slideshowbox{
	padding-top: 15px;
	max-width: 1000px;
	position: relative;
	margin: auto;
	text-align: center;
}
/*says to hide the images*/
.slides{
	display: none; 
}

/*number of img/3 */
.slidenumber{
  color: gray;
  font-size: 12px;
  padding: 40px 12px;
  position: absolute;
  top: 0;
}

/*dots to specify which img you are on*/
.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*specifies which dot you are on/hovering over*/
.activedots, .dot:hover {
  background-color: #717171;
}

/*making the class for the fade which links to the webkit and keyframe fade*/
.fade{
	-webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade{
	from {opacity: .4}
  to {opacity: 1}
}


